.flex {
    display: flex;
    justify-content: space-around;
  }
  
.flexItems {
    width: 31%;
    display: flex;
    justify-content: center;
    border: red 1px solid;
  }
  
.purple {
    color: #4e2083;
    font-weight: bold;
  }
  
.delete {
    cursor: pointer;
  }